@using Microsoft.EntityFrameworkCore
@using OnlineRetailPlatformDiss.Models
@using OnlineRetailPlatformDiss.Services
@using OnlineRetailPlatformDiss.Data;
@inject ApplicationDbContext context;
@inject IJSRuntime js;
@inject AuthenticationStateProvider auth;

@page "/MyOrders";
@attribute [Authorize];
<PageTitle>My Orders</PageTitle>

<div class="container">
    @if(ShowOrderDetails)
    {
        <OrderDetailsComponent Order=@OrderToShow CloseDetails=@CloseDetails />
    }

    <div class="row">
        <div class="col-7">
            @if(orders != null)
            {
                <!-- List Group to show each order within the basket... -->
                <div class="list-group">
                @foreach(var order in orders)
                {
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-95 justify-content-between">
                            <h5 class="mb-1">Order ID: @order.OrderId</h5>
                            <small>@order.OrderDate</small>
                        </div>
                        <p>Order Total: £@order.OrderTotal</p>
                        <small>Total Items: @order?.OrderLines?.Count</small>
                        <p>Order Status: @order?.OrderStatus</p>
                        <div class="d-flex w-100 pt-2">
                            <button class="btn btn-outline-primary" @onclick="@(() => ShowDetails(order))">View Details</button>
                            <button class="btn btn-outline-danger" @onclick="@(() => CancelOrder(order))">Cancel Order</button>
                        </div>
                    </div>
                    <div class="divider pt-2" />
                }
                </div>
            }
        </div>
        <div class="col-5 text-center">
            <div class="container bg-light mb-2">
                <h2 class="mb-3">Orders for: @UserEmail</h2>
                <h3 class="mb-1">Total Orders: @orders?.Count</h3>
                <!-- Button Options -->
            </div>
        </div>
    </div>
</div>

@code {
    List<OrderModel>? orders; //List of Orders to sort through...
    OrderModel? OrderToShow; //The Order to show via the modal...
    string? UserEmail; //String for the Users email...
    bool ShowOrderDetails; //Boolean value to trigger a modal...

    protected override void OnInitialized()
    {
        UserEmail = auth.GetAuthenticationStateAsync().Result.User.Identity?.Name; //Get the current user
        orders = context.Orders?.Include(orders => orders.OrderLines).ThenInclude(orderlines => orderlines.Product).Where(
            o => o.Email == UserEmail).ToList(); //Get the Order, as well as the Items in the Order...
    }

    private void ShowDetails(OrderModel order)
    {
        //Get the Order Model and update the OrderToShow variable
        OrderToShow = order;
        //ChangeShowOrderDetails...
        ShowOrderDetails = true;
    }

    private void CloseDetails()
    {
        //When EventCallback is triggered, do this...
        ShowOrderDetails = false;
    }

    private void CancelOrder(OrderModel order)
    {
        try
        {
            //For each item within the order, cancel it...
            order.OrderStatus = "Cancelled"; //Change the Order Status to cancelled...
            if (order.OrderLines != null)
            {
                foreach (var item in order.OrderLines)
                {
                    if (item.Status != "Shipped") //If the Product has not been shipped...
                    {
                        item.Status = "Cancelled"; //Product cancelled....
                    }
                }
            }

            context.Orders?.Update(order);
            context.SaveChanges();

            js.InvokeVoidAsync("confirmChanges",
                "Order Cancelled!",
                "The order has been cancelled. NOTE: If an item within your order has been shipped, this cannot be cancelled. You should contact the retailer to return the product once you have recieved it.",
                "success"); //Swal for declaring if the cancellation has been a success...
        }
        catch (Exception e)
        {
             js.InvokeVoidAsync("confirmChanges",
                    "Error",
                    $"The order could not be cancelled: {e.Message}",
                    "error"); //Swal for declaring success in adding a business
        }
        

    }
}
